# Collect all your data into one big file

In [1]:
import astropy
from astropy.table import Table
import pandas as pd
import os
import glob

Okay Hazal now you'll work slowly. DIVIDE THE PROBLEM

First, check if you can read and vomit out individual files

in order to execute shell/bash commands just type a n exclamation mark in from of the cmd

In [3]:
!ls 2019/02/07/

20190207.MAGIC_WEATHER_DATA.fits
20190207.RAIN_SENSOR_DATA.fits

In [4]:
#One random data is read as
t = Table.read('2019/02/07/20190207.RAIN_SENSOR_DATA.fits')

WARNING: UnitsWarning: 'MJD' did not parse as fits unit: At col 0, Unit 'MJD' not supported by the FITS standard. Did you mean MJ or mJ? [astropy.units.core]
WARNING: UnitsWarning: 'float' did not parse as fits unit: At col 0, Unit 'float' not supported by the FITS standard.  [astropy.units.core]

Unsuprisingly this works. Now add two data sets together!

In [54]:
#Two data sets
t1 = Table.read('2019/02/07/20190207.RAIN_SENSOR_DATA.fits')
t2 = Table.read('2019/02/08/20190208.RAIN_SENSOR_DATA.fits')
#Convert them to pandas because wtf is fits am I right
df1 = t1.to_pandas()
df2 = t2.to_pandas()
# Add together, ujsing concatenate 
frames = [df1, df2]
result = pd.concat(frames)
result

              Time  QoS  rain  count
0     17934.329877    0   0.0     30
1     17934.330573    0   0.0     30
2     17934.330573    0   0.0     30
3     17934.331267    0   0.0     31
4     17934.331267    0   0.0     31
5     17934.331960    0   0.0     31
6     17934.331960    0   0.0     31
7     17934.332659    0   0.0     30
8     17934.332659    0   0.0     30
9     17934.333351    0   0.0     30
10    17934.333351    0   0.0     30
11    17934.334035    0   0.0     31
12    17934.334035    0   0.0     31
13    17934.334741    0   0.0     30
14    17934.334741    0   0.0     30
15    17934.335427    0   0.0     30
16    17934.335427    0   0.0     30
17    17934.336120    0   0.0     31
18    17934.336120    0   0.0     31
19    17934.336829    0   0.0     31
20    17934.336829    0   0.0     31
21    17934.337525    0   0.0     29
22    17934.337525    0   0.0     29
23    17934.338207    0   0.0     31
24    17934.338207    0   0.0     31
25    17934.338903    0   0.0     30
26    17934.338903    0   0.0     30
27    17934.339597    0   0.0     30
28    17934.339597    0   0.0     30
29    17934.340292    0   0.0     31
...            ...  ...   ...    ...
2847  17936.318761    0   0.0     30
2848  17936.319467    0   0.0     31
2849  17936.319467    0   0.0     31
2850  17936.320163    0   0.0     30
2851  17936.320163    0   0.0     30
2852  17936.320848    0   0.0     30
2853  17936.320848    0   0.0     30
2854  17936.321555    0   0.0     30
2855  17936.321555    0   0.0     30
2856  17936.322240    0   0.0     30
2857  17936.322240    0   0.0     30
2858  17936.322933    0   0.0     30
2859  17936.322933    0   0.0     30
2860  17936.323630    0   0.0     30
2861  17936.323630    0   0.0     30
2862  17936.324315    0   0.0     30
2863  17936.324315    0   0.0     30
2864  17936.325021    0   0.0     30
2865  17936.325021    0   0.0     30
2866  17936.325703    0   0.0     31
2867  17936.325703    0   0.0     31
2868  17936.326412    0   0.0     30
2869  17936.326412    0   0.0     30
2870  17936.327094    0   0.0     30
2871  17936.327094    0   0.0     30
2872  17936.327802    0   0.0     30
2873  17936.327802    0   0.0     30
2874  17936.328494    0   0.0     31
2875  17936.328494    0   0.0     31
2876  17936.329178    0   0.0     31

[5753 rows x 4 columns]

Below I attempt and fail by:

Creating an empty list and appending

In [11]:
frame = []
#path =r'c:/Users/hazal/Desktop/FACT' # use your path
for path in glob.glob("*/*/*/*RAIN*"):
    table = Table.read(path)
    df = table.to_pandas()
    frame.append(df)


result = pd.concat(frame)
print len(result)

807962

In [31]:
result.to_hdf('all_rain_data_2018_to_2019.h5', key='data')

In [35]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B069-7078

 Directory of C:\Users\hazal\Desktop\FACT

03/20/2019  02:48 PM    <DIR>          .
03/20/2019  02:48 PM    <DIR>          ..
03/13/2019  02:41 PM    <DIR>          .ipynb_checkpoints
03/12/2019  08:37 PM         5,167,054 1304.1710.pdf
03/01/2019  04:15 PM    <DIR>          2018
03/01/2019  04:15 PM    <DIR>          2019
03/20/2019  02:47 PM        25,866,168 all_rain_data_2018_to_2019.h5
03/13/2019  02:51 PM             1,470 Check_Rainy_days.ipynb
03/20/2019  02:47 PM            33,497 collectdata.ipynb
03/13/2019  02:24 PM           158,979 introduction.ipynb
03/13/2019  03:11 PM           842,804 Monitoring_point_spread_function.pdf
03/13/2019  02:39 PM            53,861 Trial.ipynb
               7 File(s)     32,123,833 bytes
               5 Dir(s)  24,363,311,104 bytes free

In [21]:
%%time
stuff = pd.read_hdf('all_rain_data_2018_to_2019.h5')
len(stuff)

Wall time: 60 ms

# Below are my failed attempts.

In [56]:
frame = []
for files in glob.glob("*.fits"):
    tables = Table.read(files)
    dt = table.to_pandas()
    frame.append(dt)
frame

[]

This time I fail at concatenating

In [57]:

#path =r'c:/Users/hazal/Desktop/FACT' # use your path
allFiles = glob.glob( "*.fits")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    t = Table.read(file_)
    df = t.to_pandas()
    list_.append(df)
list_
#frame = pd.concat(list_)

[]

Below I fail at using os.listdir

In [65]:
import os
items = os.listdir(".")

newlist = []
for names in items:
    if names.endswith(".txt"):
        newlist.append(names)
print newlist

[]

In [36]:
## Using OS
df_list = []
for files in os.listdir('*/*/*/'):
    if files.endswith('.fits'):
        t = Table.read(files)
        df = t.to_pandas()
        df_list.append(df)
        final_df = df.append(df for df in df_list)
        final_df.to_pandas('final.fits', index=False)
        
df_list

WindowsError: [Error 123] The filename, directory name, or volume label syntax is incorrect: '*/*/*/*.*'

WindowsError: [Error 3] The system cannot find the path specified: 'folder1/*.*'